{% extends 'base/base.html' %}
{% load static %}
{% load persian_number %}
{% load humanize %}
{% block content %}

    <section class="section-intro padding-y-sm">
        <div class="container slideshow-container ">
            <div class="intro-banner-wrap mySlides">
                {% for foo in slider %}
                    <img src="{{ foo.image.url }}" class="img-fluid rounded">
                {% endfor %}
            </div>
        </div>


    </section>
    <section class="section-name padding-y-sm">
        <div class="container">

            <header class="section-heading">
                <a href="{% url 'ad:ads' %}" class="btn btn-outline-primary float-right new-font">مشاهده تمام
                    اگهی </a>
                <h3 class="section-title new-font">مناسب برای کسب و کار شما </h3>
            </header>


            <div class="row">
                {% for ad in ads %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">
                            <a href="{{ ad.get_url }}"
                               class="img-wrap"><img
                                    src="{{ ad.image.url }}"> </a>
                            <figcaption class="info-wrap">
                                <a href="{{ ad.get_url }}"
                                   class="title new-font"
                                   style="text-align: center;">{{ ad.ads_name }}</a>
                            </figcaption>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>
    </section>


    <section class="section-name padding-y-sm">
        <div class="container">

            <header class="section-heading">
                <a href="{% url 'store:store' %}" class="btn btn-outline-primary float-right new-font">مشاهده تمام
                    محصولات</a>
                <h3 class="section-title new-font">محصولات محبوب</h3>
            </header>


            <div class="row">
                {% for product in products %}
                    <div class="col-md-3">
                        <div class="card card-product-grid">
                            <a href="{{ product.get_url }}"
                               class="img-wrap"><img
                                    src="{{ product.image.url }}"> </a>
                            <figcaption class="info-wrap">
                                <a href="{{ product.get_url }}"
                                   class="title new-font"
                                   style="text-align: center;">{{ product.product_name | persianize_digits }}</a>
                                <div class="price mt-1 new-font" style="text-align: center;">
                                    تومان {{ product.price | persian_int | intcomma:False }}</div>
                            </figcaption>
                        </div>
                    </div>
                {% endfor %}


            </div>

        </div>
    </section>

    <footer class="section-footer border-top new-font">
        <div class="container">
            <section class="footer-bottom border-top row">
                <div class="col-md-2">
                    <p class="text-muted"> &copy تک کا مارکت </p>
                </div>
                <div class="col-md-8 text-md-center">
                    <span class="px-2">markettakka@gmail.com</span>
                    <span class="px-2">09143520588</span>
                </div>
            </section>
        </div>
    </footer>


{% endblock %}