{% extends 'base/base.html' %}
{% load humanize %}
{% load persian_number %}
{% block title %} جزئیات محصول  |  تک کا مارکت {% endblock %}
{% load jalali_tags %}
{% block content %}
    <section class="section-content padding-y bg new-font" style="direction: rtl; text-align: right;">
        <div class="container">

            <!-- ============================ COMPONENT 1 ================================= -->
            <div class="card">
                <div class="row no-gutters">
                    <aside class="col-md-6">
                        <article class="gallery-wrap">
                            <div class="img-big-wrap main-image">
                                <div style="text-align: center;"><img src="{{ single_product.image.url }}"></div>
                            </div> <!-- img-big-wrap.// -->
                            <ul class="thumb">
                                <li>
                                    <a href="{{ single_product.image.url }}" target="main-image"><img
                                            src="{{ single_product.image.url }}"
                                            alt="Product Image"></a>
                                    {% for img in product_gallery %}
                                        <a href="{{ img.image.url }}" target="main-image"><img src="{{ img.image.url }}"
                                                                                               alt="Product Image"></a>
                                    {% endfor %}
                                </li>

                            </ul>
                        </article>
                    </aside>
                    <main class="col-md-6 border-left">
                        <form action="{% url 'carts:add_cart' single_product.id %}" method="post">
                            {% csrf_token %}
                            <article class="content-body">

                                <h2 class="title">{{ single_product.product_name |   persianize_digits  }}</h2>
                                <br>
                                <div class="mb-3">
                                    <var class="price h4 new-font">  قیمت : {{ single_product.price | persian_int | intcomma:False }} تومان  </var>
                                </div>
                                <br>
                                <p class="new-font">{{ single_product.description | linebreaks }}</p>
                                <br>
                                <hr>
                                {% if single_product.stock <= 0 %}
                                    <h5 class="new-font"> اتمام موجودی </h5>
                                {% else %}
                                    <button type="submit"
                                            class="btn  btn-primary"> <span
                                            class="text new-font"> افزودن به سبد خرید </span> <i
                                            class="fas fa-shopping-cart"></i>
                                    </button>
                                {% endif %}

                            </article> <!-- product-info-aside .// -->
                        </form>
                    </main> <!-- col.// -->
                </div> <!-- row.// -->
            </div> <!-- card.// -->
            <!-- ============================ COMPONENT 1 END .// ================================= -->

            <br>

            <div class="row">
                <div class="col-md-9">


                    <form action="{% url 'store:submit_review' single_product.id %}" method="POST">
                        {% csrf_token %}
                        <h5 class="new-font"> لطفا نظر خود را بنویسید </h5>

                        <div class="new-font">
                            <!-- Rating stars -->
                            <label> شما به این محصول چه امتیازی میدید؟ </label>
                            <br>
                            <br>
                            عنوان:
                            <br><br>
                            <input type="text" class="form-control" name="subject" required>
                            <br>
                            نظر:
                            <br><br>
                            <textarea name="review" rows="4" class="form-control" required></textarea>
                            <br>
                            {% if user.is_authenticated %}
                                <input type="submit" value="تایید" class="btn btn-primary">
                            {% else %}
                                <p> لطفا واردشوید/ ثبت نام کنید <span><a
                                        href="{% url 'account:login' %}"> ورود </a></span></p>

                            {% endif %}

                        </div>
                        {% include 'base/alert.html' %}
                    </form>
                    <br>
                    <header class="section-heading">
                        <h3 class="new-font">نظرات </h3>
                    </header>

                    {% for review in reviews %}
                        <article class="box mb-3">
                            <div class="icontext w-100">

                                <div class="text">
                                    <h6 class="mb-1 new-font">{{ review.user.full_name }} </h6>
                                    <span class="date text-muted float-md-right new-font">{{ review.updated_at | to_jalali:'%y/%m/%d _ %H:%M:%S' }} </span>

                                </div>
                            </div> <!-- icontext.// -->
                            <div class="mt-3 new-font">
                                <h6>{{ review.subject }}</h6>
                                <p>
                                    {{ review.review }}
                                </p>
                            </div>
                        </article>
                    {% endfor %}


                </div> <!-- col.// -->
            </div>


        </div> <!-- container .//  -->
    </section>
{% endblock %}