@font-face {
    font-family: 'Diroz';
    src: url('../../../static/template/fonts/Dirooz.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Diroz';
    src: url('../../../static/template/fonts/Dirooz.woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Diroz';
    src: url('../../../static/template/fonts/Dirooz.woff');
    font-weight: 300;
    font-style: normal;
}


@font-face {
    font-family: 'Yekan';
    src: url('../../../static/template/fonts/Yekan.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Diroz';
    src: url('../../../static/template/fonts/Yekan.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Diroz';
    src: url('../../../static/template/fonts/Yekan.ttf');
    font-weight: 300;
    font-style: normal;
}